.body {
  background-color: #00899b;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component {
  height: 266px;
  width: 296px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.controls {
  height: 92px;
  border-radius: 8px;
  background-color: #ebf1f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;

  mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
    color: rgba(80, 88, 104, 0.6);
  }
}

button {
  min-height: 56px;
  min-width: 56px;
}
